[user]
	name = zhe.hu
	email = hzschwarzschild@gmail.com
[color]
	ui = true
[alias]
    st = status -s
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ad)%C(reset) %C(white)%s%C(reset) %C(bold red)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ai%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold red)- %an%C(reset)' --all
[core]
    quotepath = false
    editor = emacs
    # autocrlf = true
[gui]
    encoding = utf-8
[push]
    default = simple
